<section class="login">
  <section class="form-group">
    <div class="form-group-header">
      <div>
        {{ showLogin ? "Welcome back, sign in!" : "Create an account!" }}
      </div>
      <div class="form-required-field" *ngIf="alert.show">
        {{ alert.message }}
      </div>
    </div>
    <form
      *ngIf="showLogin; else signupView"
      class="form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit('signin')"
    >
      <div class="form-input-group">
        <label for="email">Email*</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          placeholder="Enter your email"
          email="true"
        />
        <div
          class="form-required-field"
          *ngIf="emailControl?.errors?.['email']"
        >
          Email is not valid
        </div>
      </div>
      <div class="form-input-group">
        <label for="password">Password*</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
          placeholder="Enter your password"
          minlength="6"
        />
        <div
          class="form-required-field"
          *ngIf="passwordControl?.errors?.['minLength']"
        >
          Password must be at least 6 characters
        </div>
      </div>
      <button [disabled]="loginForm.invalid" class="form-btn" type="submit">
        Login
      </button>
      <div class="form-info-group">
        Don't have an account?
        <span (click)="setAuthView('signup')">Signup</span>
      </div>
    </form>
    <ng-template #signupView>
      <form
        class="form"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit('signup')"
      >
        <div class="form-input-groups">
          <div class="form-input-group">
            <label for="firstName">First Name*</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              required
              placeholder="Enter your first name"
              minlength="2"
            />
          </div>
          <div class="form-input-group">
            <label for="lastName">Last Name*</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              required
              placeholder="Enter your last name"
            />
          </div>
        </div>
        <div class="form-input-group">
          <label for="signupEmail">Email*</label>
          <input
            type="email"
            id="signupEmail"
            formControlName="signupEmail"
            required
            placeholder="Enter your email"
            email="true"
          />
          <div
            class="form-required-field"
            *ngIf="signupEmailControl?.errors?.['email']"
          >
            Email is not valid
          </div>
        </div>
        <div class="form-input-group">
          <label for="signupPassword">Password*</label>
          <input
            type="password"
            id="signupPassword"
            formControlName="signupPassword"
            required
            placeholder="Enter your password"
            minlength="6"
          />
          <div
            class="form-required-field"
            *ngIf="signupPasswordControl?.errors?.['minLength']"
          >
            Password must be at least 6 characters
          </div>
        </div>
        <div class="form-input-group">
          <label for="confirmPassword">Confirm Password*</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
            placeholder="Enter your password"
            minlength="6"
          />
          <div
            class="form-required-field"
            *ngIf="confirmPasswordControl?.errors?.['minLength'] || ( signupPasswordControl?.value && ( signupPasswordControl?.value !== confirmPasswordControl?.value))"
          >
            {{
                confirmPasswordControl?.errors?.['minLength']
                    ? "Password must be at least 6 characters"
                    : "Passwords do not match"
            }}
          </div>
        </div>
        <button
          [disabled]="
            signupForm.invalid ||
            (signupPasswordControl?.value &&
              signupPasswordControl?.value !== confirmPasswordControl?.value)
          "
          class="form-btn"
          type="submit"
        >
          Signup
        </button>
        <div class="form-info-group">
          Already have an account?
          <span (click)="setAuthView('login')">Login</span>
        </div>
      </form>
    </ng-template>
  </section>
</section>
