<section class="home">
  <app-alert></app-alert>
  <div class="nav-item-title">Taxually.com</div>
  <div class="nav-item-title-info">Note : Max file size for upload is 1MB</div>
  <nav>
    <input
      class="nav-item nav-item-file-input"
      type="file"
      id="file"
      (change)="handleFileInput($event)"
      aria-label="Upload a file"
      placeholder="Select a photo"
    />
    <div class="nav-item">
      <span>{{ user.email }}</span>
      <button (click)="logout()">Signout</button>
    </div>
  </nav>
  <section class="home-ctas">
    <div style="display: none" class="search-input">
      <input
        type="search"
        placeholder="Search for a photo..."
        [(ngModel)]="searchText"
        (keyup)="clearSearchText()"
      />
      <button (click)="searchFile()">Search</button>
    </div>
    <div class="sort">
      <span>Sort by</span>
      <select [(ngModel)]="sortType" (change)="sortFiles()">
        <option value="date-asc">Date created(asc)</option>
        <option value="date-desc">Date created(desc)</option>
        <option value="size-asc">Size(asc)</option>
        <option value="size-desc">Size(desc)</option>
      </select>
    </div>
    <div class="filter">
      <span>Filter by</span>
      <select [(ngModel)]="filterType" (change)="filterFiles()">
        <option value="all">All</option>
        <option value="smallest">Smallest</option>
        <option value="largest">Largest</option>
      </select>
    </div>
  </section>
  <section
    class="photo-listing"
    *ngIf="photoList && photoList.length > 0; else noPhotos"
  >
    <app-photo
      *ngFor="let photo of photoList"
      [data]="photo"
      (deleteFileEvent)="deleteFile($event)"
    ></app-photo>
  </section>
  <ng-template #noPhotos>
    <div class="no-photos">
      <h1>No Photos</h1>
      <p>Upload a photo to get started</p>
    </div>
  </ng-template>
</section>
