<section class="home">
  <div class="nav-item-title">Taxually.com</div>
  <div class="nav-item-title-info">Note : Max file size for upload is 1MB</div>
  <nav>
    <input
      class="nav-item nav-item-file-input"
      type="file"
      id="file"
      (change)="handleFileInput($event)"
      aria-label="Upload a file"
      placeholder="Select a photo"
    />
    <div class="nav-item">
      <span> Hey, {{ user.firstName }}</span>
      <button (click)="logout()">Signout</button>
    </div>
  </nav>
  <section class="search">
    <div class="search-input">
      <input
        type="search"
        placeholder="Search for a photo..."
        [(ngModel)]="searchText"
        (keyup)="clearSearchText()"
      />
      <button (click)="searchFile()">Search</button>
    </div>
  </section>
  <section
    class="photo-listing"
    *ngIf="photoList && photoList.length > 0; else noPhotos"
  >
    <app-photo
      *ngFor="let photo of photoList"
      [data]="photo"
      (deleteFileEvent)="deleteFile($event)"
    ></app-photo>
  </section>
  <ng-template #noPhotos>
    <div class="no-photos">
      <h1>No Photos</h1>
      <p>Upload a photo to get started</p>
    </div>
  </ng-template>
</section>
