.photo {
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 3px;
  max-height: 350px;

  img {
    object-fit: contain;
    border-radius: 3px;
    width: 100%;
    max-height: 160px;
  }

  button {
    padding: 5px 15px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--white-1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: var(--error-color);
      color: var(--white-1);
      border: 1px solid var(--error-color);
    }
  }
}

.photo-holder {
  border-bottom: 1px solid var(--border);
  position: relative;
  height: 180px;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.photo-content-title,
.photo-content-size {
  font-size: 13.5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.photo-content-size {
  font-size: 12px;
  color: var(--text-light);
}
